<div class="hero-image">
        <div class="content">
            <div class="columns">
                <div class="column">
                    <h1>${title}</h1>
                    <p>Grew up watching Cartoon Network? So did we. Rank your favorite shows, leave a review, and see what others are watching. Join our community today. </p>
                    <a href="./users/signup"><button>SIGN UP</button></a>
                </div>
                <div class="column">
                    <img src="../imgs/circle_adventure_time.png" id="circle">
                </div>
            </div>
        </div>
  </div>


<div class="popular-shows">
    <h2>Popular Shows</h2>
<div class="columns">
  ${data.map(show => 
        `<div class="column"><img src="${show.image_url}" class="show-image">
            
            <h3>
            <a href= "./${show.slug}">${show.show_name}</a>
        </h3>
            <a href="./${show.slug}"><button class="main-btn">REVIEW</button></a>
        
        </div>`
    ).join('')}
    
</div>

</div>

