<h1>${show.show_name}</h1>
<h3>${show.average_rating}</h3>
<img src="${show.image_url}" class="">
<p>${show.show_description}</p>

<h2>Leave a Review</h2>

<form action= "/" method="POST">
    <input type='hidden' name='show_name' value='${show.id}'/>
    <label>
        Enter Your Username
        <input type="text" name="user_name">
    </label>
    <label>
        What would you rate the show?
        <input type="number" min="1" max="5" name="rating">
    </label>
    <label>
        Enter Your Review:
        <textarea placeholder="Tell us why you love this show...or why you don't" rows="5" cols="60" name="review"></textarea> 
        </textarea>
    </label>
    <button type="submit">SUBMIT REVIEW</button>
</form>

<h2>What Others Have to Say</h2>

<div>
    <ul>
        ${reviews.map(review => 
            `<li><p>${review.user_name}</p></li>
            <li><p>${review.rating}</p></li>
            <li><p>${review.review}</p></li>`
        ).join('')}
    </ul>
</div>

