<div class="show-information">

<h1 class="show-title">${show.show_name}</h1>
<h3>Average Rating: ${show.average_rating}</h3>
<p>${show.show_description}</p>
<img src="${show.image_url}" class="show-details-img">


${!!is_logged_in ? 
`<h2>Leave a Review</h2>

<form action= "/" method="POST">
    <input type='hidden' name='show_name' value='${show.id}'/>
    <input type="hidden" name="user_name" value="${user_id}">
    <label>
        What would you rate the show?
        <input type="number" min="1" max="5" name="rating" placeholder="On a scale from 1 - 5" required>
    </label>
    <label>
        Enter Your Review:
        <textarea placeholder="Tell us why you love this show...or why you don't..." rows="5" cols="60" name="review" required></textarea> 
        </textarea>
    </label>
    <button type="submit" class="submit-btn">SUBMIT REVIEW</button>
</form>`

    :

   ` <h2>Leave a Review</h2>
    <p>You need to be logged in to leave a review!</p>
    <a href="./users/login"><button class="submit-btn">LOGIN</button></a>
   `

}


<h2>What Others Have to Say</h2>

    <ul>
        ${reviews.map(review => 
            `<div class="review-box">
            <li><p class="rating">${review.rating}/5</p></li>
            <li><p class="review">${review.review}</p></li>
            <li><p class="reviewer">- ${review.user_name}</p></li>
        </div>`
        ).join('')}
            
    </ul>

</div>