<div class="content">
    <div class=columns>
        <div class="column">
            <section class="signup">
                <form action="/users/signup" method="POST">

                    <label>
                        What is your full name?
                        <input type="text" name="user_name" placeholder="John Doe" required>
                    </label>
                    <label>
                        What is your email address?
                        <input type="text" name="user_email" placeholder="johndoe@gmail.com" required>
                    </label>
                    <label>
                        Enter a password:
                        <input type="password" name="user_password" placeholder="Your Password" required>
                    </label>
                    <button type="submit" class="submit-btn">REGISTER</button>
                </form>
            </section>
        </div>
        <div class="column">
            <img src="../imgs/flapjack.png"alt="image of cap and flapjack" class="greeting-img">
        </div>
    </div>
</div>